a {
  text-decoration: none;
  color: pink;
}

a:hover {
  color: #039BE5;
}

.box {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: #039BE5;
    margin: 10px;
  }
}

h1 {
  color: pink;
  font-size: 4rem;
  margin: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  ul {
    display: flex;
    align-items: baseline;
  }

  li {
    margin: 0 10px;
    list-style: none;
  }
}

#footer-li-center {
  font-size: 20px;
}

.container-input {
  position: relative;
}

.input {
  width: 250px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px pink;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 350px;
}
