// center div without flex

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr);
height: 80vh;
width: 60vw;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
gap: 15px;

}

.d-rating { 
    grid-area: 1 / 1 / 2 / 2; 
    border: solid;
    border-radius: 20px 20px 20px 20px;
}

.d-invitation{
    grid-area: 2 / 1 / 4 / 2; 
    border: solid;
    border-radius: 20px 20px 20px 20px;
}

.d-push { 
    grid-area: 4 / 1 / 7 / 2; 
    border: solid;
    border-radius: 20px 20px 20px 20px;
}

.d-calendar { 
    grid-area: 1 / 2 / 4 / 6; 
    border: solid;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
}

.d-calendarlist { 
    grid-area: 4 / 2 / 7 / 6; 
    border: solid;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
}