
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr);
height: 90vh;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
gap: 15px;
}

.d-rating { 
    grid-area: 1 / 1 / 2 / 2; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #ccc;
}

.d-invitation{
    grid-area: 2 / 1 / 4 / 2; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #ccc;
}

.d-push { 
    grid-area: 4 / 1 / 7 / 2; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #ccc;
}

.d-calendar { 
    grid-area: 1 / 2 / 4 / 6; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #ccc;

}

.d-calendarlist { 
    grid-area: 4 / 2 / 7 / 6; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #ccc;
}

.blur {
    // background-image: url('../client/src/assets/bg.jpg');
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* pour une compatibilité maximale */
  }